body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

html {
    background-image: linear-gradient(#F4F4F4, #DCD0C0);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

#PBAtitle {
    color: white;
    max-width: 390px;
    width: 90%;
}

.loginBox {
    border: 3.5px solid #373737;
    background-color: #373737;
    border-radius: 20px;
    display: inline-block;
    height: auto;
    max-width: 430px;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 80%;
}

@media screen and (max-width: 349px) {
    .loginBox {
        margin-top: 40px !important;
    }
}

@media screen and (min-width: 350px) and (max-width: 525px) {
    .loginBox {
        margin-top: 60px;
    }
}

@media screen and (min-width: 526px)
/*and (max-height: 1024px)*/

{
    .loginBox {
        margin-top: 130px;
    }
}

.parentDiv {
    text-align: center;
}

#googleSignInBtn,
#facebookSignInBtn {
    background: none;
    border: none;
}

#googleSignInBtn img,
#facebookSignInBtn img {
    width: 250px;
}

#googleSignInBtn img:hover,
#facebookSignInBtn img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px white;
}

#googleSignInBtn:focus,
#googleSignInBtn:active,
#facebookSignInBtn:focus,
#facebookSignInBtn:active {
    outline: none;
    border: none;
}

#facebookSignInBtn {
    margin-top: 30px;
}